.card {
  display: flex;
  flex-direction: column;
  padding: 3px;
  align-items: center;
  border: solid 2px white;
  background-color: black;
  color: white;
  line-height: 1.5em;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.2);
}

.card_pic {
  width: 100%;
}
