.columnContainer {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
}

.button {
  padding: 0.5em 1.2em;
  font-size: 1em;
  color: white;
  background: var(--active);
  border: solid 1px var(--active);
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: white;
  color: var(--active);
  cursor: pointer;
}
