.home {
  composes: outerFlex from "../shared/shared.module.css";
  justify-content: center;
  align-items: flex-start;
}

.info {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: auto 3rem;
}

.title {
  font-size: 2em;
  letter-spacing: 0.25em;
}

.button {
  composes: button from "../shared/shared.module.css";
  margin-top: 3em;
  font-size: 1.5em;
}

.icon {
  margin: 0 0.7em;
  transform-box: fill-box;
  transform-origin: center;
  animation: arrowLeft 0.4s ease-in-out infinite alternate;
}

.icon:last-child {
  animation: arrowRight 0.4s ease-in-out infinite alternate;
}

@keyframes arrowLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes arrowRight {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(50%);
  }
}
