.nav {
  font-size: 2rem;
  /* min-height: 10%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--back);
  color: var(--main);
  padding: 0 1em;
}

.logo {
  font-size: 1em;
  margin: 0;
  text-decoration: none;
  color: white;
  letter-spacing: 0.25em;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.navItem {
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
}

.navItem > .navLink {
  color: var(--main);
  font-size: 1em;
  padding: 0 0.5em;
  line-height: 1.5em;
  border-right: 2px solid var(--active);
  display: flex;
  align-items: center;
}

.navItem > .navLink:hover {
  color: var(--active);
  background-color: #130c2c;
}

.active {
  color: var(--active);
}

.amount {
  color: red;
}
