.checkOutItem {
  padding: 20px;
  display: flex;
  justify-content: center;
  background: #ddd;
  margin-top: 20px;
  border: 2px solid var(--active);
  color: black;
}

.checkOutItem:first-child {
  margin-top: 0;
}

.itemPic {
  width: 120px;
}

.info {
  margin-left: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: space-between;
}

.amountBoxWrapper {
  margin-top: 10px;
}
