.app {
  font-family: Roboto, san-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
  background-color: #2b2a32;
}
