.amountBox {
  display: flex;
}

.iconButton {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 0 3px 0 3px;
}

.amountBox > input {
  width: 50px;
  text-align: center;
  font-size: 1em;
}

.amountBox svg {
  width: 20px;
  height: 20px;
}
